*{
    margin: 0;
}
body{
    font-family: 'Sansita Swashed', cursive;
}

/* Navbar */

.navbar{
    /* width: 100%; */
    height: 70px;
    display: flex;
    /* margin: 0px auto; */
    align-items: center;
    box-sizing: border-box;
    /* max-width: 1200px; */
    padding: 0px 24px;
}

.nav-bar-inside{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 72px;
}

.logo-img{
    align-items: center;
    display: flex;
    justify-content: center;
    /* margin: 0 30px; */
    min-height: 44px;
    min-width: 44px;
    padding: 0px;
    text-decoration: none;
    height: 32px;
    margin-top: 10px;
}

.logo-txt-1 {
    color: rgb(91, 57, 38);
    font-family: "Reem Kufi", sans-serif;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 0.03em;
}

.logo-txt-2 {
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
}

.navbar-content {
    align-items: center;
    display: flex;
    height: 72px;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav > a{
    font-family: 'Sansita Swashed', cursive;
    color: rgb(170, 149, 133);
    font-weight: 700;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    display: flex;
    /* flex-direction: row; */
}

nav > a:hover{
    color: tomato;
    font-weight: bolder;
}

.btn{
    color: "#d16c00";
    font-size: 14px ;
    align-items: center;
    background-color: rgb(240, 233, 231);
    border: 0px;
    border-radius: 12px;
    box-shadow: rgb(226, 214, 207) 4px 4px 8px, rgb(247, 244, 242) -8px -8px 16px;
    color: rgb(209, 108, 0);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    height: 36px;
    justify-content: center;
    outline: none;
    padding-left: 16px;
    padding-right: 16px;
    transition-duration: 0.1s;
    margin: 20px auto;

}

.btn:hover{
    background-color: whitesmoke;
}

.logo > img{
    width: 32;
    height: 32;
    margin-top: -4px;
    display: flex;
}

/* Body */

.body-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 144px);
}

.body-content-box{
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 600px;
    padding: 0px 24px;
    width: 100%;
}

.body-content-box-inside {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
    padding-top: 48px;
    margin: 0px auto;
}

.body-content-box-inside-img{
    font-size: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    width: 120px;
}

.body-content-box-inside-heading{
    font-family: 'Roboto', sans-serif;
    font-family: 'Satisfy', cursive;
    color: rgb(91, 57, 38);
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

.body-content-box-inside-para{
    color: rgb(170, 149, 133);
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.menu-box{
    box-sizing: border-box;
    margin: 0px auto;
    max-width: 800px;
    padding: 0px 24px;
    width: 100%;
}

.menu-box-content{
    align-items: center;
    display: flex;
}

@media (max-width: 768px){
.menu-box-content {
    width: 100%;
    flex-flow: column nowrap;
    align-items: stretch;
}
.navbar-content{
    margin: 0 -10px;
}
}

.menu-1{
    background: rgb(240, 233, 231);
    border: 1px solid rgb(226, 214, 207);
    border-radius: 12px;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
}

.menu-1-inside-box{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    padding: 16px;
}

.menu1-box-content{
    display: flex;
}

.menu1-box-span{
    align-items: center;
    display: flex;
    flex: 1 1 0%;
}

.menu1-box-subheading{
    color: rgb(170, 149, 133);
}

.menu1-box-mainheading{
    font-family: 'Roboto', sans-serif;
    color: rgb(91, 57, 38);
    font-size: 36px;
    font-weight: 700;
}

.menu1-box-para1{
    font-size: 14px;
    padding: 8px 20px;
    color: rgb(170, 149, 133);
    border-top: 1px solid rgb(226, 214, 207);
}

.menu1-box-para2{
    font-family: "Roboto Mono", monospace;
    float: right;
}

.Tip{
    color: rgb(128, 94, 73);
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/* Footer */

.footer{
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 20px auto;

}

.footer-menu{
    align-items: center;
    display: flex;
}